body {
    width: 100%;
    font-size: 18px;
    font-family: Fira Code;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.img-chapa {
    display: block;
    margin: 0 auto;

    border-radius: 8px;
    width: 30%;
}

.intro {
    text-align: center;
}

.prop-tec, .prop-fin, .prop-com {
    border: 1px solid rgb(0 ,0, 0);
    padding: 10px;
    margin: 10px;
}

.posts, .social-medias, .author {
    display: block;
    text-align: center;
}